.form-outer {

}

#form1{
	border-color: black;
	border-style: solid;
	border-width: 10px;
}

#form2 {
	border-color: black;
	border-style: solid;
	border-width: 10px;

}

#alignRight {
  	align-items: flex-end;
}

#btnLogout {
    position: absolute;
    left: 600px;
}

#financeChartExample {
    height: 300px;
<<<<<<< HEAD
<<<<<<< HEAD
    }
=======
}
>>>>>>> 7811d8a18f4f5070870db12ab3183f617d6ce752
=======
}
>>>>>>> 1ef86a26a561ba62512285211e5ce4b2b0b06dbb
