.form-outer {

}

#form1{
	border-color: black;
	border-style: solid;
	border-width: 10px;
}

#form2 {
	border-color: black;
	border-style: solid;
	border-width: 10px;

}

#alignRight {
  	align-items: flex-end;
}

#btnLogout {
    position: absolute;
    left: 600px;
}

#financeChartExample {
    height: 300px;
}
